/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: $font-stack-primary;
    color: $color-primary;
    box-sizing: border-box;
}

p {
    line-height: 1.45em;
}

a {
    text-decoration: none;
}


/* ============================================= */
/*              Typography                       */
/* ============================================= */

.headline-primary {
    color: $color-secondary;
    margin-left: 10px;
}

.headline-secondary {
    font-weight: $light-weight;
    color: $color-primary;
}

.link {
    color: $color-default;
    font-weight: $heavy-weight;
}

.blockquote {
    font-size: 1.5em;
    font-weight: $light-weight;
    font-style: italic;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-secondary;
    border-radius: $br;
}
